<div class="row">
<% @eco_friendly_items.each do |item| %>
    <div class="col-md-4">
    <div class="card" style="width: 18rem;">
        <%= image_tag item.picture, class: "card-img-top" %>
        
        <div class="card-body">
            <h5 class="card-title"><%= item.name %> </h5>
            <p class="card-text menu-description"><%= item.description %></p>
            <p class="card-text">$<%= item.price %></p>
            <%= link_to "Show more", item_path(item.id), class:"btn btn-primary btn-right"%>
        </div>
    </div>
  </div>
<% end %>

</div>

<!-- above is a div class that will allow items the users list to appear to this specific category -->