

<div id="carouselSlides" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="col-md-6">
      <%= image_tag 'slide1', class: "slide1_image" %>
      </div>
    </div>
    <div class="carousel-item">
      <div class="col-md-6">
      <%= image_tag 'slide2', class: "slide2_image" %>
      </div>
    </div>
    <div class="carousel-item">
      <div class="col-md-6">
      <%= image_tag 'slide3', class: "slide3_image" %>
      </div>
    </div>
    <div class="carousel-item">
      <div class="col-md-6">
      <%= image_tag 'slide4', class: "slide4_image" %>
      </div>
    </div>
    <div class="carousel-item">
      <div class="col-md-6">
      <%= image_tag 'slide5', class: "slide5_image" %>
      </div>
    </div>
  </div>
</div>
