

<div id="carouselSlides" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="col-md-6">
      <%= image_tag 'https://chill-people-society-imgs.s3.ap-southeast-2.amazonaws.com/slide1.png', class: "slide1_image" %>
      </div>
    </div>
    <div class="carousel-item">
      <div class="col-md-6">
      <%= image_tag 'https://chill-people-society-imgs.s3.ap-southeast-2.amazonaws.com/slide2.png', class: "slide2_image" %>
      </div>
    </div>
    <div class="carousel-item">
      <div class="col-md-6">
      <%= image_tag 'https://chill-people-society-imgs.s3.ap-southeast-2.amazonaws.com/slide3.png', class: "slide3_image" %>
      </div>
    </div>
    <div class="carousel-item">
      <div class="col-md-6">
      <%= image_tag 'https://chill-people-society-imgs.s3.ap-southeast-2.amazonaws.com/slide4.png', class: "slide4_image" %>
      </div>
    </div>
    <div class="carousel-item">
      <div class="col-md-6">
      <%= image_tag 'https://chill-people-society-imgs.s3.ap-southeast-2.amazonaws.com/slide5.png', class: "slide5_image" %>
      </div>
    </div>
  </div>
</div>
