<!-- below is all the code that organises the items table and the categories table together for users to view easier -->
<h1>SHOP</h1>
<h2>LOUNGEWEAR PARADISE</h2>
<br></br> 
<h2>Categories:</h2>
<div class="card-deck">
  <div class="card">
    <%= image_tag 'https://chill-people-society-imgs.s3.ap-southeast-2.amazonaws.com/vintage_sweater.png', class: "vintagesweater_image" %>
      <div class="card-body">
      <h5 class="card-title">Vintage Brands</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus posuere imperdiet tincidunt.</p>
      <a href="/vintage" class="btn btn-primary">Shop Vintage</a>
    </div>
  </div>
  <div class="card">
    <%= image_tag 'https://chill-people-society-imgs.s3.ap-southeast-2.amazonaws.com/brand_new_sweater.png', class: "brandnewsweater_image" %>
    <div class="card-body">
      <h5 class="card-title">New Brands</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus posuere imperdiet tincidunt. Proin varius elit libero, eget aliquet turpis porta quis.</p>
      <a href="/brand_new" class="btn btn-primary">Shop Brand new</a>
    </div>
  </div>
  <div class="card">
    <%= image_tag 'https://chill-people-society-imgs.s3.ap-southeast-2.amazonaws.com/eco_friendly_sweater.png', class: "ecofriendlysweater_image" %>
    <div class="card-body">
      <h5 class="card-title">Eco-friendly Brands</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus posuere imperdiet tincidunt. Proin varius elit libero, eget aliquet turpis porta quis.</p>
      <a href="/eco_friendly" class="btn btn-primary">Shop Eco-friendly</a>
    </div>
  </div>
  <div class="card">
    <%= image_tag 'https://chill-people-society-imgs.s3.ap-southeast-2.amazonaws.com/hand_made_sweater.png', class: "handmadesweater_image" %>
    <div class="card-body">
      <h5 class="card-title">Hand-made Brands</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus posuere imperdiet tincidunt. Proin varius elit libero, eget aliquet turpis porta quis.</p>
      <a href="/hand_made" class="btn btn-primary">Shop Hand made</a>
    </div>
  </div>
</div>
<br></br> 

<h2>Shop all:</h2>

<div class="row">
<% @items.each do |item| %>
    <div class="col-md-4">
    <div class="card" style="width: 18rem;">
        <%= image_tag item.picture, class: "card-img-top" %>
        
        <div class="card-body">
            <h5 class="card-title"><%= item.name %> </h5>
            <p class="card-text menu-description"><%= item.description %></p>
            <p class="card-text">$<%= item.price %></p>
            <%= link_to "Show more", item_path(item.id), class:"btn btn-primary btn-right"%>
        </div>
    </div>
  </div>
<% end %>

</div>
<br></br> 
<br></br> 
<br></br> 
<br></br> 
